body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/homepage.jpg');
    background-size: cover;
    color: #333;
  }
  
  /* Additional styling */
  