
<div class="w-full bg-body z-10 mx-auto l-0 r-0 fixed bg-blue-900 bg-opacity-10 backdrop-blur header">
  <div class="flex flex-col sm:flex-row justify-between items-center mx-auto max-w-screen-lg px-4 sm:px-8 py-4 sm:py-6">
    <a class="font-averta-bold text-center text-lg sm:text-xl lg:text-2xl leading-tight logo-text opacity-70 hover:opacity-100 transition" href="/">Glåüm</a>
    <hr class="my-2 sm:hidden" />
    <nav class="flex flex-col sm:flex-row sm:space-x-4">
      <!-- <a class="font-averta-bold text-center text-lg sm:text-xl lg:text-2xl mx-auto leading-tight opacity-70 hover:opacity-100 transition"
        href="#philosophy">
        Philosophy
      </a> -->

      <!-- Navigation Links -->
      <div class="flex items-center space-x-4">
        <a class="hover:text-gray-400" href="www/pages/about.html">About</a>
        <a class="hover:text-gray-400" href="www/pages/services.html" class="hover:text-gray-400">Services</a>
        <a class="hover:text-gray-400" href="www/pages/contact.html" class="hover:text-gray-400">Contact</a>
      </div>
      <!-- Connect Wallet Button -->
      <button id="connect-wallet" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded">
        Connect Wallet
      </button>
    </nav>
  </div>
</div>
